{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
    <div class="event-list">
        <h1>Events</h1>
        <ul>
            {% for event in events %}
                <li>
                    <p>{{ event.description }}</p>
                        <a href="{{ path('single_event', {'id': event.id}) }}">show</a>


                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
